{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<section>
  <div class="container-fluid h-custom my-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <!-- The form uses POST method and submits to the account_login URL -->
        <form class="login" method="POST" action="{% url 'account_login' %}">
          <!-- CSRF token for security -->
          {% csrf_token %}
          <div class="d-flex align-items-center flex-wrap">
            <p class="lead fw-normal mb-3 mt-3 mb-lg-0 me-lg-3 text-center text-lg-start">Sign in with</p>
            <div class="d-flex flex-column flex-lg-row w-100 justify-content-center justify-content-lg-start">
              {% if google_login_url %}
              <a href="{{ google_login_url }}"><button data-mdb-button-init data-mdb-ripple-init
                class="btn btn-lg btn-block mt-3 btn-primary mb-lg-0" style="background-color: #dd4b39;"
                type="submit">
                <i class="fab fa-google me-2"></i> Google
              </button></a>
              {% endif %}
              {% if facebook_login_url %}
              <a href="{{ facebook_login_url }}"><button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary mt-3 mx-2"
                style="background-color: #3b5998;" type="submit">
                <i class="fab fa-facebook-f me-2"></i>Facebook
              </button></a>
              {% endif %}
            </div>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Username input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Username</label>
            <input type="name" id="form3Example3" name="login" class="form-control form-control-lg"
              placeholder="Enter username" />
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
              placeholder="Enter password" />
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" name="remember" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="{% url 'account_reset_password' %}" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"> Log In
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0"> Don't have an account? <a href="{% url 'account_signup' %}"
                class="link-danger">Register</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}