{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="bg-yellow box-shadow h-100 d-flex align-items-center justify-content-center m-0 p-4">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-7 col-lg-4 col-xl-3 align-items-center text-center p-3">
                <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Cradle Blog Logo">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-4 mt-lg-0">
                <div class="card ms-3">
                    <div class="card-header text-center nunito-sans-regular">
                        <h4 class="fw-bold">{% trans "Forgot Password" %}</h4>
                    </div>
                    <div class="card-body nunito-sans-regular">
                        <!-- Django's default password reset form -->
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid">
                                <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'account_login' %}" class="btn btn-info text-decoration-none text-white enlarge me-3 px-3">
                            {% trans "Login" %}
                        </a>
                        <a href="{% url 'account_signup' %}" class="btn btn-secondary text-decoration-none enlarge">
                            {% trans "Sign Up" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
