{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}

<section>
    <div class="container-fluid h-custom my-5 text-center">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5 mt-lg-0">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Reset Password" %}{% endif %}</h4>
                    </div>
                    <div class="card-body">
                        {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been
                            used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                        <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid">
                                <button type="submit" name="action" class="btn btn-primary">{% trans "Set New Password" %}</button>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}