{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}

<section class="bg-yellow box-shadow h-100 d-flex align-items-center justify-content-center m-0 p-4">
    <div class="container-fluid text-center">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-7 col-lg-4 col-xl-3 text-center p-3">
                <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-4 mt-lg-0">
                <div class="card ms-3">
                    <div class="card-header text-center nunito-sans-regular">
                        <h4 class="fw-bold">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Reset Password" %}{% endif %}</h4>
                    </div>
                    <div class="card-body nunito-sans-regular">
                        {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="nunito-sans-regular">{% blocktrans %}The password reset link was invalid, possibly because it has already been
                            used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                        <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid">
                                <button type="submit" name="action" class="btn btn-primary">{% trans "Set New Password" %}</button>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
