{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section>
  <div class="container-fluid h-custom my-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-9 col-lg-6 col-xl-4 offset-xl-1 mt-5 mt-lg-0">
        <div class="card">
          <div class="card-header text-center">
            <h4>{% trans "Sign Up" %}</h4>
          </div>
          <div class="card-body">
            <!-- Django's default signup form -->
            <form method="POST" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
              </div>
            </form>
            <hr>
            <div class="text-center">
              <p>{% trans "Or sign up with" %}</p>
              <!-- Google Sign Up Button -->
              <a href="#" class="btn btn-outline-danger btn-block w-100 mb-2">
                <i class="fab fa-google"></i> {% trans "Sign Up with Google" %}
              </a>
              <!-- Facebook Sign Up Button -->
              <a href="#" class="btn btn-outline-primary btn-block w-100">
                <i class="fab fa-facebook-f"></i> {% trans "Sign Up with Facebook" %}
              </a>
            </div>
          </div>
          <div class="card-footer text-center">
            <p>{% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Login" %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}