{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}

<section class="bg-yellow box-shadow h-100 m-0 p-4">
    <div class="container-fluid h-custom text-center">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-7 col-lg-4 col-xl-3 align-items-center text-center">
                <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5 mt-lg-0">
                <div class="card">
                    <div class="card-header text-center nunito-sans-regular">
                        <h4 class="fw-bold">{% trans "Verify Your Email Address" %}</h4>
                    </div>
                    <div class="card-body justify nunito-sans-regular">
                        <p>{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}