{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="bg-yellow box-shadow h-100 m-0 p-4">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-5 col-lg-3 col-xl-2 p-2 text-center align-items-center">
                <img src="{{ profile.profile_picture.url }}" class="img-fluid circle-image circle-border shadow" alt="Profile Picture"
                    id="profile-pic">
                <h3 class="salsa-regular my-3"><strong>{{ request.user.username }}</strong></h3>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5 mt-lg-0">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h4 class="text-capitalize salsa-regular">Delete Profile</h4>
                    </div>
                    <div class="card-body fs-5">
                        <div class="modal-body text-center">
                            Are you sure you want to delete your Profile?<br>
                            <strong>This action cannot be undone.</strong>
                        </div>
                        <div class="modal-footer p-3 justify-content-center">
                            <button type="button" class="btn btn-secondary btn-enlarge m-2" data-bs-dismiss="modal"><a href="{% url 'profile' %}" class="text-decoration-none text-reset">Cancel</a></button>
                            <form action="{% url 'delete_profile' %}" method="POST">
                                {% csrf_token %}
                                <button id="deleteConfirm" type="submit" class="btn
                                btn-danger btn-enlarge m-2">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal2" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete profile?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}