{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<section class="bg-yellow box-shadow h-100 m-0 p-4">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-5 col-lg-3 col-xl-2 p-2 text-center align-items-center">
                <img src="{% cloudinary_url profile.profile_picture width=300 height=300 crop='fill' gravity='face' quality='auto:best' %}" class="img-fluid circle-image shadow" alt="Profile Picture"
                    id="profile-pic">
                <h3 class="salsa-regular my-3"><strong>{{ request.user.username }}</strong></h3>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5 mt-lg-0">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h4 class="text-capitalize fw-bold nunito-sans-regular">Delete Profile</h4>
                    </div>
                    <div class="card-body fs-5">
                        <div class="modal-body nunito-sans-regular text-center">
                            <p><strong class="pb-3">Are you sure you want to delete your Profile?</strong></p>
                            <p>This action cannot be undone.</p>
                        </div>
                        <div class="modal-footer border-top mt-4 p-3 justify-content-center">
                            <a href="{% url 'profile' %}" class="btn btn-primary btn-enlarge m-2 text-decoration-none nunito-sans-regular">
                                Cancel
                            </a>
                            <form action="{% url 'delete_profile' %}" method="POST">
                                {% csrf_token %}
                                <button id="deleteConfirm" type="submit" class="btn
                                btn-danger btn-enlarge nunito-sans-regular m-2">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}