{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-4">
                <img src="{% static 'images/hero-image.png' %}" class="img-fluid" alt="Hero Image">
            </div>
            <div class="col-7 col-md-8 text-center align-items-center">
                <h1 class="fw-bolder">Welcome to Cradle!</h1>
                <p class="lead mb-0">A one stop Blog for all parenting needs</p>
            </div>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-12">
            <!-- Nested row for non-featured blog posts-->
            {% for post in post_list %}
            <!-- Blog post-->
            {% if forloop.counter|divisibleby:2 %}
            <div class="container row p-3 border my-3 shadow align-items-center">
                <div class="col-md-5 p-3 order-md-1">
                    <a href="{% url 'post_detail' post.slug %}"><img class="circle-image"
                            src="{% static 'images/default.jpg' %}" alt="..." /></a>
                </div>
                <div class="col-md-7 order-md-2">
                    <div class="small text-muted">{{ post.created_on}}</div>
                    <a href="{% url 'post_detail' post.slug %}" class="text-reset text-decoration-none">
                        <h2 class="card-title h4">{{ post.title }}</h2>
                    </a>
                    <p class="card-text card-body">{{ post.excerpt }}</p>
                    <a class="btn btn-primary post-link" href="{% url 'post_detail' post.slug %}">Read more →</a>
                </div>
                    
            </div>

            {% else %}
            <div class="container row p-3 border my-3 shadow align-items-center">
                <div class="col-md-7 order-2 order-md-1">
                    <div class="small text-muted">{{ post.created_on}}</div>
                    <a href="{% url 'post_detail' post.slug %}" class="text-reset text-decoration-none">
                        <h2 class="card-title h4">{{ post.title }}</h2>
                    </a>
                    <p class="card-text card-body">{{ post.excerpt }}</p>
                    <a class="btn btn-primary post-link" href="{% url 'post_detail' post.slug %}">Read more →</a>
                </div>
                <div class="col-md-5 order-1 order-md-2 p-3">
                    <a href="{% url 'post_detail' post.slug %}"><img class="circle-image float-end"
                            src="{% static 'images/default.jpg' %}" alt="..." /></a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}