{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="masthead-text g-4">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle"><a href="{{ post.source }}" target="_blank">Source Link</a></p>
                <p class="post-subtitle"> {{ post.created_on }} </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row blog-post">
        <div class="text-center">
            <img src="{% static 'images/default.jpg' %}" class="scale img-fluid rounded blog-post-image" alt="placeholder">
        </div>
        <div>
            <div class="card mb-4 mt-3 left top p-3">
                <p class="card-body">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}