{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead box-shadow bg-yellow">
    <div class="container">
        <div class="row">
            <div class="masthead-text g-4">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title salsa-regular">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle"><a href="{{ post.source }}" target="_blank">Source Link</a></p>
                <p class="post-subtitle"> {{ post.created_on }} </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row blog-post">
            <div class="text-center">
                <img src="{% static 'images/default.jpg' %}" class="scale img-fluid rounded blog-post-image"
                    alt="placeholder">
            </div>
            <div>
                <div class="card shadow mb-4 mt-5 left top p-3">
                    <article class="card-body handlee-regular">{{ post.content | safe }}</article>
                </div>
            </div>
        </div>
        <!-- Displaying count of comments -->
        <div class="row">
            <div class="col-12">
                <strong>
                    <i class="far fa-comments"></i> {{ comment_count }}
                </strong>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
        <!-- Displaying Comments -->
        <div class="row">
            <div class="col-md-8 mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="">
                    <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div class="card mb-4 p-2 comments shadow
          {% if not comment.approved and comment.author == user %}
          text-muted{% elif not comment.approved %} d-none{% endif %}">
                        <p class="border-bottom pb-2"><strong class="text-capitalize">
                                {{ comment.author }}</strong><br>
                            <span class="font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <div id="comment{{ comment.id }}">
                            {{ comment.body | linebreaks }}
                        </div>
                        {% if not comment.approved and comment.author == user %}
                        <p class="approval">
                            This comment is awaiting approval
                        </p>
                        {% endif %}
                        {% if user.is_authenticated and comment.author == user %}
                        <div class="row g-2">
                            <button class="btn btn-edit btn-enlarge btn-primary col-3 col-md-2 col-lg-1 p-2 me-2 ms-2 text-center"
                                comment_id="{{ comment.id }}">Edit</button>
                            <button class="btn btn-delete btn-enlarge btn-danger col-3 col-md-2 col-lg-2 text-center"
                                comment_id="{{ comment.id }}">Delete</button>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
            </div>
            <!-- Creating New Comments -->
            <div class="col-md-4 card mb-4 mt-3">
                <div class="card-body shadow">
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-primary btn-lg btn-enlarge">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger btn-enlarge">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}