{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<section class="bg-yellow box-shadow h-100 m-0 p-4 d-flex justify-content-center align-items-center">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center">
            <!-- Profile Picture and Edit Button -->
            <div class="col-md-4 col-lg-3 text-center align-items-center img-fluid mb-4 mb-md-0">
                <div class="profile-picture-container">
                    <img src="{% cloudinary_url profile.profile_picture width=300 height=300 crop='fill' gravity='face' quality='auto:best' %}"
                        alt="Profile Picture" class="img-fluid circle-image shadow" id="profile-pic">
                </div>
                <div>
                    <a href="#" class="btn btn-primary text-decoration-none d-inline-flex align-items-center justify-content-center mt-3" data-bs-toggle="modal" data-bs-target="#editModal">
                        <i class="fa-solid fa-pen-to-square pe-2 text-white"></i> Edit Picture
                    </a>
                    <p class="nunito-sans-regular mt-3 fs-5 pink-underline"><i class="fa-solid fa-envelope pe-2 fs-md-5 pink-font"></i>
                        {{ request.user.email }}</p>
                </div>
            </div>

            <!-- Profile Details -->
            <div class="col-md-8 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center">
                <div class="card shadow ms-md-5 rounded w-100">
                    <div class="card-header text-center">
                        <h4 class="salsa-regular fw-bold">{{ request.user.username }}'s Profile</h4>
                    </div>
                    <div class="card-body text-center fs-5">
                        <p class="pb-2 pt-3 hover nunito-sans-regular"><a href="{% url 'view_favourites' %}"
                                class="text-decoration-none text-reset pb-3 border-bottom"><i
                                    class="fa-solid fa-heart pe-2 fs-md-5 pink-font"></i>
                                My Favourites</a></p>
                        <p class="pb-2 hover nunito-sans-regular"><a href="{% url 'view_comments' %}"
                                class="text-decoration-none text-reset pb-3 border-bottom"><i
                                    class="fa-solid fa-comment pe-2 fs-md-5 pink-font"></i>
                                My Comments</a></p>
                        <form action="{% url 'delete_profile_view' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="text-decoration-none border-0 main-bg hover nunito-sans-regular" id="delete-account">
                                <i class="fa-solid fa-trash pe-3 fs-md-5"></i>Delete Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title card-header" id="editModalLabel">Edit Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'edit_profile_picture' %}">
                        {% csrf_token %}
                        <div class="mb-3 text-center">
                            <!-- Image preview -->
                            <img id="imgPreview" src="{{ profile.get_profile_picture_url }}"
                                alt="Profile Picture Preview" class="img-thumbnail"
                                style="width: 200px; height: 200px; border-radius: 50%;">
                        </div>
                        <div class="mb-3 text-center">
                            <!-- File input with the correct ID -->
                            <input type="file" id="fileInput" name="profile_picture" class="form-control">
                        </div>

                        <h5 class="text-center">Or choose an avatar:</h5>
                        <div class="avatar-container text-center">
                            <!-- Avatar 4 -->
                            <label>
                                <input type="radio" name="avatar_choice" value="selected_avatar3" {% if profile.profile_picture and profile.profile_picture.url == profile.selected_avatar3.url %}checked{% endif %}
                                    hidden>
                                <img src="{{ profile.selected_avatar3.url }}" alt="Avatar 4"
                                    class="avatar {% if profile.profile_picture and profile.profile_picture.url == profile.selected_avatar3.url %}selected{% endif %}">
                            </label>

                            <!-- Avatar 1 -->
                            <label>
                                <input type="radio" name="avatar_choice" value="selected_avatar" {% if profile.profile_picture and profile.profile_picture.url == profile.selected_avatar.url %}checked{% endif %} hidden>
                                <img src="{{ profile.selected_avatar.url }}" alt="Avatar 1"
                                    class="avatar {% if profile.profile_picture and profile.profile_picture.url == profile.selected_avatar.url %}selected{% endif %}">
                            </label>

                            <!-- Avatar 2 -->
                            <label>
                                <input type="radio" name="avatar_choice" value="selected_avatar1" {% if profile.profile_picture and profile.profile_picture.url == profile.selected_avatar1.url %}checked{% endif %}
                                    hidden>
                                <img src="{{ profile.selected_avatar1.url }}" alt="Avatar 2"
                                    class="avatar {% if profile.profile_picture and profile.profile_picture.url == profile.selected_avatar1.url %}selected{% endif %}">
                            </label>

                            <!-- Avatar 3 -->
                            <label>
                                <input type="radio" name="avatar_choice" value="selected_avatar2" {% if profile.profile_picture and profile.profile_picture.url == profile.selected_avatar2.url %}checked{% endif %}
                                    hidden>
                                <img src="{{ profile.selected_avatar2.url }}" alt="Avatar 3"
                                    class="avatar {% if profile.profile_picture and profile.profile_picture.url == profile.selected_avatar2.url %}selected{% endif %}">
                            </label>

                        </div>

                        <div id="error-message" class="text-danger"></div>
                        <button type="submit" class="btn btn-primary mt-3" name="confirm">Confirm</button>
                        <button type="button" class="btn btn-danger enlarge mt-3" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">
                            Delete Picture
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title card-header" id="deleteModalLabel">Delete Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center"><strong>Are you sure you want to delete your profile picture?</strong>
                        <br><br>This action cannot be undone.
                        <hr>
                    </p>
                    <form method="post" action="{% url 'edit_profile_picture' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger enlarge mt-3" name="delete">Delete</button>
                        <button type="button" class="btn btn-primary enlarge ms-2 mt-3"
                            data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/delete_profile.js' %}"></script>
<script src="{% static 'js/profile_pic.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}