{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="masthead bg-yellow box-shadow pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Image -->
      <div class="text-center p-3">
        <img src="{{ about.about_image.url }}" class="img-fluid circle-image circle-border shadow"
          alt="{{ about.title }}">
      </div>
      <!-- Content -->
      <div class="container">
        <div class="card mx-1 my-3 mb-4 mt-3 p-4 shadow">
          <p class="my-3 nunito-sans-regular">{{ about.content | safe }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}